---
layout: default
title: Web Developer | Anthony Gonzales
description: I'm a front-end web developer. Take a look at my skills, get to know me, drop me a line.
---

<div class="buffer container-fluid max-width">
  {% for post in site.posts%}
    <article class="blog-post">
      <h2 class="headline">{{ post.title }}</h3>

      <div class="meta-post">
        <span class="meta-content">{{ post.date | date: "%B %d, %Y" }}</span>
      </div>

      <div class="blog-post-content">
        {{ post.excerpt }}

        <a href="{{ post.url }}">Read more &#8594;</a>
      </div>

    </article>
    {% if post != site.posts.last  %}
    <hr>
    {% endif %}
  {% endfor %}
<div>
