---
layout: default
title: Resume
description: Resume of Anthony Gonzales, Software Developer.
---
{% assign basics = site.data.resume.basics %}
{% assign work = site.data.resume.work %}
{% assign education = site.data.resume.education %}
{% assign skills = site.data.resume.skills %}
<div class="max-width page card infinite">
  <div class="header">
    <div class="header-title">
      <h1 class="title">{{ basics.name }}</h1>
      <p class="description">{{ basics.label}}</p>
    </div>
    <div class="header-contact-info">
      <p class="address">{{ basics.location.address }}</p>
      <p class="email">{{ basics.email | replace: ".", "[dot]" }}</p>
      <p class="website">{{ basics.website | remove: "https://www."}}</p>
      <ul class="social-profiles">
        {% for profile in basics.profiles %}
          <li>{{profile.network}}: <a href={{profile.url}} target="_blank" rel="nofollow noopener">{{profile.username}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <h2>Profile</h2>
  <p>{{ basics.summary }}</p>

  <h2>Experience</h2>
  {% for job in work %}
  <h3 class="job-title">{{job.position}}, <a href={{job.website}} target="_blank" rel="nofollow noopener">{{job.company}}</a> &mdash; {{job.startDate | date: "%Y"}} &ndash; {{job.endDate | date: "%Y"}}</h3>
    <p>{{ job.summary}}</p>
  {% endfor %}

  <h2>Education</h2>
  {% for edu in education %}
  <p><a href={{edu.url}} target="_blank" rel="nofollow noopener">{{edu.institution}}</a> &mdash; {{edu.studyType}}, {{edu.endDate | date: "%Y"}}</p>
  {% endfor %}

  <h2>Skills</h2>
  {% for skill in skills %}
    <div class="skills">
      <p class="skills-name"><strong>{{ skill.name }}:</strong></p>
      <ul class="skills-list">
        {% for keyword in skill.keywords %}
          <li class="skills-list-skill">{{keyword}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
<div>
