---
layout: default
title: Resume
description: Resume of Anthony Gonzales, Software Developer.
---
{% assign basics = site.data.resume.basics %}
{% assign work = site.data.resume.work %}
{% assign education = site.data.resume.education %}
{% assign skills = site.data.resume.skills %}
<div class="max-width page card infinite">
  <div class="header resume-section">
    <div class="header-title">
      <h1 class="title">{{ basics.name }}</h1>
      <p class="description">{{ basics.label}}</p>
    </div>
    <div class="header-contact-info">
      <p class="address">Based in {{ basics.location.address }}</p>
      <p class="email"><a href="mailto:{{basics.email}}">{{ basics.email }}</a></p>
      <p class="website"><a href="{{basics.website}}">{{ basics.website | remove: "https://www."}}</a></p>
    </div>
    <p>{{ basics.summary }}</p>
  </div>

  <div class="resume-section">
    <h2>Experience</h2>
    {% assign company = '' %}
    {% for job in work %}
      {% if company != job.company %}
        {% assign company = job.company %}
        <h3><a href={{job.website}} target="_blank" rel="nofollow noopener">{{job.company}}</a></h3>
      {% endif %}
      <div class="position">
        <h4 class="job-title">{{job.position}}, {{job.startDate | date: "%Y"}} &ndash; {% if job.endDate != nil %} {{job.endDate | date: "%Y"}} {% else %} Current {% endif %}</h4>
        <p>{{ job.summary}}</p>
      </div>
    {% endfor %}
  </div>

  <div class="resume-section">
    <h2>Education</h2>
    {% for edu in education %}
    <p><a href={{edu.url}} target="_blank" rel="nofollow noopener">{{edu.institution}}</a> &mdash; {{edu.studyType}} in {{edu.area}}, {{edu.endDate | date: "%Y"}}</p>
    {% endfor %}
  </div>

  <h2>Skills</h2>
  {% for skill in skills %}
    <div class="skills">
      <p class="skills-name"><strong>{{ skill.name }}:</strong></p>
      <ul class="skills-list">
        {% for keyword in skill.keywords %}
          <li class="skills-list-skill">{{keyword}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
<div>
