// Blog styles

.blog-content {
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
}

.blog-content ul { list-style: square outside; }

.meta-content { display: inline-block; margin-right: $line-height-computed; color: $gray; }

.meta-content i { margin-right: 5px; }