// Blog styles

.page-title {
  padding-bottom: $line-height-computed;
  margin-bottom: 0
}

.post-title {
  margin-bottom: 15px;
}

.blog-content {
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  max-width: 640px;
}

.blog-post-content {
  padding-bottom: $line-height-computed;
}

.blog-post-content ul {
  list-style: square outside;
}

.post-meta-info .meta-content,
.header-meta-info .meta-content {
  display: block;
  margin-bottom: 30px;
  color: $cyan;
}


.post-content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    position: relative;
  }
}

.post-header-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.post-header-link:before {
  position: absolute;
  left: -30px;
  content: '#';
  color: $gray3;
}

.post-header-link:hover:before {
  color: $link-color;
}

@media (max-width: 992px) {
  .blog-content {
    padding-bottom: 0;
  }
}
