// Buttons
.button, .button-blog {
  display: inline-block;
  border: 3px solid $yellow;
  border-radius: 6px;
  cursor: pointer;
  color: $link-color;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: $ease-in-out;
  -moz-transition: $ease-in-out;
  -o-transition: $ease-in-out;
  transition: $ease-in-out; 
}

.button {
  padding: 20px 40px;
}

.button-blog {
  padding: 10px 20px;
}

.button:hover, .button-blog:hover {
  background-color: darken($yellow, 15%);
  border: 3px solid darken($yellow, 15%);
  color: #fff;
}

.button-space {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

@media (max-width: 577px ) {
  .button, input[type="submit"]   {
    padding: 20px 10px;
    width: 100%;
  }
}
