.footer {
  color: $white;
  background-color: $content-color;
}

.footer-me {
  float: left;
  margin-top: 10px;
}

.footer-contact {
  float: right;
}

.footer-logo {
  margin-bottom: 10px;
  font-size: 22px;
}

.footer-say-hello {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-contact-info {
  padding-left: 0;
  margin-top: 0;
}
