.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-logo {
  flex: 1;
  padding-top: 11px;
}

.nav-logo a {
  font-size: 22px;
  color: $content-color;
  text-decoration: none;
}

.main-nav {
  padding: 0;
}

.main-nav li {
  display: inline;
  margin-left: $line-height-computed-half;
  margin-right: $line-height-computed-half;
}

.main-nav a {
  color: $content-color;
  text-decoration: none;
}
