// Styles

html, body { height: 100%; }

body { overflow: hidden; }

nav {
	display: block;
	float: right;
	font-size: 21px;
}

.nav-logo {
	padding-top: 10px;
	display: block;
	float: left;
		
		a {
			font-family: $mono-font-family;
			font-size: 28px;
			text-decoration: none;
			color: $gun;

			&:hover, &:focus { color: darken($yellow, 15%); }
		}
}

.sticky-nav { 
	position: fixed;   
  left: 0;  
  top: 0;  
  z-index: 100; 
	width: 100%;
  background-color: lighten($gray-light, 8%);
  display: none;
}

.sticky {
  display: block;
}

.fixed-nav { 
  position: absolute; 
  left: 0;  
  top: 0;
  width: 100%;
}

.main-nav {
	padding: 0;
	font-weight: bold;

	li {
		display: inline;
		margin-left: $line-height-computed-half;
		margin-right: $line-height-computed-half;
	}
		
	a:hover {
		padding-bottom: $line-height-computed-half / 2;
		border-bottom: 3px solid $yellow;
	}

}

.hero {
	height: 100%;
	width: 100%;
	background: url(../../build/img/my-items.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-backgroundsize .hero {
  height: 800px;
}

.hero-lead-in {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 30%;
	left: 11%;
}

#hero-title, #hero-tagline { color: #FFF; }

.buffer {
	padding-top: $line-height-computed * 2;
	padding-bottom: $line-height-computed * 2;
}

.buffer-sidebar {
  padding-top: $line-height-computed * 2;
}

.buffer-top { padding-top: $line-height-computed * 2; }


.section-title {
	padding-bottom: $line-height-computed;
	text-align: center;
}

.section-title:after {
	display: block;
	position: relative;
	bottom: -15px;
	left: 50%;
	margin-left: -50px;
	content: ' ';
	width: 100px;
	height: 8px;
	background: $yellow;
}

.social-icons-container {
	padding: $line-height-computed 0 0 0;
	margin: $line-height-computed 0 0 0;
}

.social-icons {
	margin: 0;
	padding: 0;
		li {
			display: inline-block;
			padding-right: $line-height-computed-half;
			padding-left: $line-height-computed-half;
		}
		a { color: $gray; }
		i:hover {
			-webkit-transition: $ease-in-out;
			-moz-transition: $ease-in-out;
			-o-transition: $ease-in-out;
			transition: $ease-in-out; 
		}
}

.contact-buttons {
	margin-top: $line-height-computed * 2;
	margin-bottom: $line-height-computed * 2;
}

.fa-ul { margin-left: 1.55em; }

.fa-twitter-square:hover { color: #55ACEE; }

.fa-instagram:hover { color: $cocoa; }

.fa-facebook-square:hover { color: #3B5998; }

.fa-google-plus-square:hover { color: #DD4B39; }

.fa-linkedin-square:hover { color: #4875B4; }

.skills-list { margin: 0; padding-left: 4em; }

.skills-list > li { position: relative; }

.skills-list li { margin-bottom: 55px; }

.skills-list li i { top: 15px; color: $yellow; }

.canvas-container {
    min-height: 300px;
    position: relative;
    text-align: center;
}

.chart-legend {
	width: 100%;
	margin: 30px auto 0; 
	display: block; 
	position:relative; 
		li {
			text-indent:16px;
			line-height: $base-line-height;
			position:relative;
			font-weight:200;
			display:block;
			float:left;
			width:30%;
			font-size:.8em;
			left: 10%;
		}
}

.HTML i { color:#424651; }
.CSS i { color:#85BAB0; }
.Javascript i { color:#92CDED; }
.Wordpress i { color:#F4D569; }
.Rails i { color:#ED1941; }
.jQuery i { color:#575151; }

#contact { background-color: #eee;}

footer {
	padding: 10px;
	background-color: $cocoa;
	color: #fff;
	font-size: 18px;
}

.footer-inner {
	padding-top: $line-height-computed-half;
	padding-bottom: $line-height-computed-half;
}

.trademark, .hosting-logo { display: inline-block; }

.hosting-logo { 
	float: right;
	img:hover { 
		opacity: .5;
		-webkit-transition: $ease-in-out;
		-moz-transition: $ease-in-out;
		-o-transition: $ease-in-out;
		transition: $ease-in-out;
	}
}

.center { text-align: center; }

.sidebar { 
  background: #eee; border: 3px solid #ddd;
  @extend .clearfix
}

.sidebar-inner { 
  padding: 30px 15px 0px 15px;
  @extend .clearfix;

}

.sidebar-profile-img {
	background: $turquoise;
	border-radius: 6px;
	margin-bottom: $line-height-computed;
}

.sidebar-social-icons {
	padding: 0;
	li {
		display: inline-block;
		padding-right: 8px;
		padding-left: 0;
	}
	a { color: $gray; }
	i:hover {
		-webkit-transition: $ease-in-out;
		-moz-transition: $ease-in-out;
		-o-transition: $ease-in-out;
		transition: $ease-in-out; 
	}
}

.sidebar-list { list-style: none outside; }

.sidebar-list li { margin-bottom: $line-height-computed; margin-left: -40px;}

.callout {
  margin: $line-height-computed 0;
  padding: $line-height-computed;
  border-left: 3px solid #ddd;
}

.warning-callout {
  border-color: $yellow;
  p { color: darken($yellow, 15%); }
}

.danger-callout {
  border-color: $cherry;
  p { color: darken($cherry, 15%); }
}

.info-callout {
 border-color: $turquoise;
  p { color: darken($turquoise, 15%); }
}


@media (max-width: 577px ) {

	header { text-align: center;}
	nav { float: none; }
	.nav-logo { float: none; }
	.main-nav li {
		margin-left: 0;
		margin-right: 10px;
	}
	.hero {
		height: 500px;
	}
	.hero-lead-in {	
		width: 100%; 
		top: 150px;
		left: 0;}
	.buffer { padding-top: $line-height-computed; padding-bottom: $line-height-computed; }
	.buffer-top { padding-top: $line-height-computed; }
	.chart-legend li { 
		left: 28%;
		width: 50%;
		float: none;
	}
	.sidebar-profile-img { margin-left: 0; float: none; }
	.social-icons li { padding-right: 10px; padding-left: 10px;}
}

@media (min-width: 577px) {
  .sidebar-profile-img { 
    width: 250px; 
    float: right;
    margin-left: $line-height-computed;
  }
}

@media (max-width: 577px) {
		.buffer-sidebar {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
	.social-icons { padding-top: $line-height-computed * 2; }
	.top-scroll { padding-top: $line-height-computed-half; }

	.hosting-logo { float: none; }
	.trademark, .hosting-logo {
		display: block;
		text-align: center;
	} 
	.sidebar { text-align: center; }
}

@media (max-width: 992px) {
	.hero { text-align: center; }

	.img-list { 
		margin-top: $line-height-computed;
		ul { margin: 0; padding: 0;}
		li { padding-bottom: 15px; }
	}
	
	.client-screenshot-container { margin-bottom: 15px; }

	.section-title { text-align: center;}

	.sidebar-about-me { 
		margin-top: $line-height-computed; 
		padding-top: $line-height-computed;
	}

}

@media (min-width: 992px) {
	.skills-list li:last-child { margin-bottom: 0; }
}

@media (min-width: 992px) and (max-width: 1200px) {
	#aat-screenshot { padding-top: 50px;}

	.skills-list li:last-child { margin-bottom: 0; }
}





