// Styles

html, body { height: 100%; }

body { overflow: hidden; }

nav {
	display: block;
	float: right;
	font-size: 21px;
}

.nav-logo {
	padding-top: 10px;
	display: block;
	float: left;
		
		a {
			font-family: "Pacifico", cursive;
			font-size: 28px;
			text-decoration: none;
			color: $gun;

			&:hover, &:focus { color: darken($link-color, 15%); }
		}
}

#sticky-nav { 
	background-color: lighten($gray-light, 8%); 
	width: 100%; 
	display: none;
}

.sticky {  
  position: fixed;   
  left: 0;  
  top: 0;  
  z-index: 100;  
}  

.main-nav {
	padding: 0;

	li {
		display: inline;
		margin-left: $line-height-computed-half;
		margin-right: $line-height-computed-half;
	}
		
	a:hover {
		padding-bottom: $line-height-computed-half / 2;
		border-bottom: 3px solid $yellow;
	}

}

.hero {
	height: 100%;
	width: 100%;
	background: url(../../assets/img/my-items.JPG) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-lead-in {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 30%;
	left: 11%;
}

#hero-title, #hero-tagline { color: #FFF; }

.buffer {
	padding-top: $line-height-computed * 2;
	padding-bottom: $line-height-computed * 2;
}

.buffer-top { padding-top: $line-height-computed * 2; }

.section-title {
	padding-bottom: $line-height-computed;
	text-align: center;
}

.section-title:after {
	display: block;
	position: relative;
	bottom: -10px;
	left: 50%;
	margin-left: -50px;
	content: ' ';
	width: 100px;
	height: 8px;
	background: $yellow;
}

.social-icons {
	padding: $line-height-computed 0 0 0;
	margin: $line-height-computed 0 0 0;
		li {
			display: inline-block;
			padding-right: $line-height-computed-half;
			padding-left: $line-height-computed-half;
		}
		a { color: $gray; }
		i:hover {
			-webkit-transition: $ease-in-out;
			-moz-transition: $ease-in-out;
			-o-transition: $ease-in-out;
			transition: $ease-in-out; 
		}
}

.contact-buttons {
	margin-top: $line-height-computed * 2;
	margin-bottom: $line-height-computed * 2;
}

.fa-twitter-square:hover { color: #55ACEE; }

.fa-instagram:hover { color: $cocoa; }

.fa-facebook-square:hover { color: #3B5998; }

.fa-google-plus-square:hover { color: #DD4B39; }

.fa-linkedin-square:hover { color: #4875B4; }

.skills-list { margin: 0; padding-left: 2.142857142857143em * 2; }

.skills-list > li { position: relative; }

.skills-list li { margin-bottom: 40px; }

.skills-list li i { top: 15px; color: $yellow; }

.canvas-container {
    min-height: 300px;
    position: relative;
    text-align: center;
}

.chart-legend {
	list-style: none;
	width: 100%;
	margin: 30px auto 0; 
	display: block; 
	position:relative; 
		li {
			text-indent:16px;
			line-height: $base-line-height;
			position:relative;
			font-weight:200;
			display:block;
			float:left;
			width:30%;
			font-size:.8em;
			left: 10%;
		}
}

.HTML i { color:#424651; }
.CSS i { color:#85BAB0; }
.Javascript i { color:#92CDED; }
.Wordpress i { color:#F4D569; }
.Rails i { color:#ED1941; }
.jQuery i { color:#575151; }

#contact { background-color: #eee;}

footer {
	padding: 10px;
	background-color: $cocoa;
	color: #fff;
	font-size: 18px;
}

.footer-inner {
	padding-top: $line-height-computed-half;
	padding-bottom: $line-height-computed-half;
}

.trademark, .hosting-logo { display: inline-block; }

.hosting-logo { 
	float: right;
	img:hover { 
		opacity: .5;
		-webkit-transition: $ease-in-out;
		-moz-transition: $ease-in-out;
		-o-transition: $ease-in-out;
		transition: $ease-in-out;
	}
}

.center { text-align: center; }

@media (max-width: 577px ) {

	header { text-align: center;}
	nav { float: none; }
	.nav-logo { float: none; }
	.main-nav li {
		margin-left: 0;
		margin-right: 10px;
	}
	.hero {
		height: 500px;
	}
	.hero-lead-in {	
		width: 100%; 
		top: 150px;
		left: 0;}
	.buffer { padding-top: $line-height-computed; padding-bottom: $line-height-computed; }
	.buffer-top { padding-top: $line-height-computed; }
	.chart-legend li { 
		left: 28%;
		width: 50%;
		float: none;
	}
	.social-icons li { padding-right: 10px; padding-left: 10px;}
}

@media (max-width: 767px) {
	.social-icons { padding-top: $line-height-computed * 2; }
	.top-scroll { padding-top: $line-height-computed-half; }
	.hosting-logo { float: none; }
	.trademark, .hosting-logo {
		display: block;
		text-align: center;
	} 
}

@media (max-width: 992px) {
	.hero { text-align: center; }

	.img-list { 
		margin-top: $line-height-computed;
		ul { margin: 0; padding: 0;}
		li { padding-bottom: 15px; }
	}
	
	.client-screenshot-container { margin-bottom: 15px; }

	.section-title { text-align: center;}

}


@media (min-width: 992px) and (max-width: 1200px) {
	#aat-screenshot { padding-top: 50px;}

}





