// Colors

//Pallette
$white: #fff;
$hotPink: #e84a5f;
$outerSpace: #262626;
$peach: #fecea8;
$seaFoam: #99b898;
$tangerine: #ff847c;

$bg-color: $white;
$content-color: $outerSpace;
$link-color: $tangerine;

// Typography
$mono-font-family: "Inconsolata", monospace;
$sans-serif-fontFamily: 'Nunito Sans', Helvetica, sans-serif;
$serif-fontFamily: 'Lora', Georgia, serif;

$base-font-size: 20px;
$base-line-height: 1.5;
$line-height-computed: $base-font-size * $base-line-height;
$line-height-computed-half: ceil($line-height-computed / 2);

$h1-font-size: ceil(2.25 * $base-font-size);
$h2-font-size: ceil(1.9 * $base-font-size);
$h3-font-size: ceil(1.5 * $base-font-size);
$h4-font-size: ceil(1.25 * $base-font-size);
$h5-font-size: $base-font-size;
$h6-font-size: ceil(.875 * $base-font-size);
$headings-line-height: 1.2;
$headings-font-weight: 700;

// Transitions
$ease-in-out: all .25s ease-in-out;
$ease: all .5s ease;

// Animations
$animation-duration: 1s;
$animation-delay: 2s;
