<header>
  <div id="fixed-nav">
    <div class="container-fluid max-width">
      <div class="nav-logo">
        <a href="/">A.Gonzales</a>
      </div>
      <nav role="navigation">
        <ul class="main-nav">
          <li><a href="/#recent-work">Work</a></li>
          <li><a href="/#skills">Skills</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="sticky-nav">
    <div class="container-fluid max-width">
      <div class="nav-logo">
        <a href="/">A.Gonzales</a>
      </div>
      <nav role="navigation">
        <ul class="main-nav">
          <li><a href="/#recent-work">Work</a></li>
          <li><a href="/#skills">Skills</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </nav>
  </div>
</header>