<head>
  <meta charset="utf-8">
  {% if page.title != nil %}
    <title>{{ page.title }} | Anthony Gonzales</title>
  {% else %}
    <title>Anthony Gonzales</title>
  {% endif %}
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include twitter_card.html %}
  {% include mastodon_verification.html  %}
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/vs.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/master.css">
</head>
