<header class="header-main">
  <nav class="container nav-main" role="navigation">
    <div class="nav-logo">
      <a href="/">Home</a>
    </div>
    <ul class="clearfix">
      <li><a onclick="ga('send', 'event', 'Navigation', 'Click', 'Work');" href="/#recent-work">Work</a></li>
      <li><a onclick="ga('send', 'event', 'Navigation', 'Click', 'Skills');" href="/#skills">Skills</a></li>
      <li><a onclick="ga('send', 'event', 'Navigation', 'Click', 'About');" href="/#about">About</a></li>
      <li><a onclick="ga('send', 'event', 'Navigation', 'Click', 'Blog');" href="/blog/">Blog</a></li>
    </ul>
  </nav>
</header>
