<aside class="sidebar col-md-3 col-md-offset-1 row">

  <div class="sidebar-inner clearfix">

    <div class="center">
      <img class="sidebar-profile-img" src="{{ site.url }}/assets/img/Anthony-Gonzales-Portrait.png" />
    </div>

    <div class="sidebar-about-me">
      <p>Hello! I'm Anthony and I'm a Front-End Developer. <a href="/#about">Learn more about me</a> and my work.</p>
      <p>I like to code, design, and learn. Feel free to <a href="/#contact">contact me</a> if you have questions or want to get in touch</p>
    </div>

  </div>

  <div class="sidebar-inner col-md-12 col-sm-6 clearfix">
    <h3>Follow me</h3>
      <ul class="sidebar-social-icons">
        <li><a href="//plus.google.com/+AnthonyGonzaleswow"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
        <li><a href="//twitter.com/amgnz"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="//www.facebook.com/amgnz"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="//www.linkedin.com/in/anthonymgonzales/"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
      </ul>
  </div>

  <div class="sidebar-inner col-md-12 col-sm-6 clearfix">
    <h3>Recent Posts</h3>
    <ul class="sidebar-list">
        {% for post in site.posts limit:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
  </div>


</aside>