<!-- Twitter cards -->
<meta name="twitter:card" content="summary_large_image"
<meta name="twitter:site"    content="{{ site.data.contacts[0].username }}">
<meta name="twitter:creator" content="{{ site.data.contacts[0].username }}">
<meta property="og:title"   content="{{ page.title }}">

{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% endif %}
{% if page.image %}
<meta property="og:image" content="{{site.url}}/assets/img/{{ page.image }}">
{% endif %}
<!-- end of Twitter cards -->

