{% assign twitter_contact = site.data.contacts | where: "title", "Twitter" | first  %}
<!-- Twitter cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site"    content="{{ twitter_contact.username }}">
<meta name="twitter:creator" content="{{ twitter_contact.username }}">
<meta property="og:title"   content="{{ page.title }}">

{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% endif %}
{% if page.image %}
<meta property="og:image" content="{{site.url}}/assets/img/{{ page.image }}">
{% endif %}
<!-- end of Twitter cards -->

