// Base
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: $bg-color;
  font-size: $base-font-size;
  font-family: $sans-serif-font-family;
  line-height: $base-line-height;
  color: $gray-dark;
}

::selection {
  background: $gun;
  color: #fff;
}

::-moz-selection {
  background: $gun;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


hr {
  border: solid $black;
  border-width: 1px 0 0;
  clear: both;
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

a,
a:visited {
  color: $link-color;
  text-decoration: underline;
  outline: 0;
}

a:hover,
a:focus {
  color: darken($blue, 15%);
}

p a,
p a:visited {
  line-height: inherit;
}
