// Blog styles

.blog {
  margin-top: 4.5rem;
}

.blog-post {
  margin-bottom: 4.5rem;
}

.blog-post-title {
  margin-top: 0;
  font-style: italic;
}

.blog-post-title .blog-post-link {
  color: $graphite;
  text-decoration: none;
}

.blog-content {
}

.blog-post-content {
}
