.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $gray0;
  font-size: 18px;
  @media (min-width: 660px) {
    display: none;
  }
}

.footer-nav ul {
  margin: 0;
  padding-left: 0;
}

.footer-nav li {
  flex: 1;
  text-align: center;
}

.footer-nav a {
  display: inline-block;
  padding: 25px;
  text-decoration: none;
  font-size: 18px;
}
