.header {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  font-family: $sans-serif-font-family;
  font-size: 1.8rem;
  @media print {
    display: none;
  }
}

.header a {
  text-decoration: none;
}

.header-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  padding: 0;
  margin: 0;
}

.main-nav li {
  display: inline;
  margin-left: $line-height-computed-half;
  margin-right: $line-height-computed-half;
}

.nav-logo {
  width: 11.5rem;
}

.nav-logo .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo a {
  color: $ox-blood;
  font-weight: 600;
  text-transform: uppercase;
}

