.header-nav {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 45px;
  @media (min-width: 660px) {
    display: flex;
  }
}

.header-nav ul {
  padding-left: 0;
}

.header-nav li {
  display: inline;
  margin-left: $line-height-computed-half;
  margin-right: $line-height-computed-half;
}

.header-nav a {
  font-size: 18px;
  text-decoration: none;
}
