header {
  font-size: 1.8rem;
  @media print {
    display: none;
  }
}

.header-inner {
  width: 100%;
  text-align: center;
  @media (min-width: 48rem) {
    padding-top: 1.5rem;
    text-align: initial;
  }
}

nav {
  display: block;
  font-size: 1.8rem;
  @media (min-width: 48rem) {
    float: right;
  }
}

.nav-logo {
  display: block;
  margin-top: 1.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  @media (min-width: 48rem) {
    float: left;
  }
}

.nav-logo a {
  color: $primary-text-color;
  &:hover {
    text-decoration: none;
  }
}

.nav-logo-img {
  display: inline-block;
  width: 5rem;
}

.nav-title {
  display: inline-block;
  font-weight: 500;
}

.main-nav {
  padding: 0;
  font-weight: 500;
}

.main-nav li {
  display: inline;
  margin-left: $line-height-computed-half;
  margin-right: $line-height-computed-half;
}

.main-nav a {
  padding: 0;
  color: $primary-text-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

