.section-title {
  font-weight: 500;
  font-family: $sans-serif-font-family;
  font-size: 1.8rem;
}

.section-separator {
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  line-height: 1;
  color: $gray;
}

.latest-blog-post-title a {
  text-decoration: none;
}

.section-title-bar {
  flex: 1;
  height: 1px;
  border: none;
  background-color: $gray;
}

.intro p {
  line-height: 2;
}

.latest-blog-post-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.list-latest-posts {
  margin: 0;
}

.list-latest-posts li {
  line-height: 2;
}
