.post {
  margin-top: 4.5rem;
}

.post-title {
  margin-top: 0;
}

.post-meta {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.post-lastupdated {
  display: block;
  font-style: italic;
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    position: relative;
  }
}

.post-content {
  margin-bottom: 4rem;
}

.post-img-credit {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  font-style: italic;
}


.post-header-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &:before {
    display: none;
    position: absolute;
    left: -3rem;
    content: '#';
    color: $blue;
  }
  &:hover:before {
    display: block;
  }
}

.quick-about {
  margin-bottom: 6rem;
}

.quick-about-content {
  font-size: 1.8rem;
}

.quick-about-content h5 {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quick-about-contact {
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
    margin-right: .5rem;
  }
}

#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
  list-style: decimal;
}

#markdown-toc {
  border: 1px solid #aaa;
  padding: 2rem 5rem;
  list-style: decimal;
  display: inline-block;
}
