.post {
  padding-top: 2.8rem;
}

.post-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.post-meta {
  display: inline-block;
  margin-bottom: 1rem;
  font-family: $mono-font-family;
  font-weight: 300;
  letter-spacing: .06em;
  font-size: 1.6rem;
}

.post-meta-separator {
  padding-left: .5rem;
  padding-right: .5rem;
}

.post-lastupdated {
  display: inline-block;
  font-style: italic;
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    position: relative;
  }
}

.post-content {
  margin-bottom: 4rem;
}

.post-img-credit {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: $mono-font-family;
  font-size: 1.3rem;
  font-style: italic;
}

.post-header-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &:before {
    display: none;
    position: absolute;
    left: -3rem;
    content: '#';
    color: $blue;
  }
  &:hover:before {
    display: block;
  }
}

.post-footer {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.quick-about-content {
  font-size: 1.8rem;
}

.quick-about-content p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.quick-about-contact {
  margin: 0;
  padding: 0;
}

.quick-about-contact li {
  display: inline-block;
  list-style: none;
  margin-right: .5rem;
}

.quick-about-contact a {
  text-decoration: none;
  font-family: $sans-serif-font-family;
}

#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
}

#markdown-toc {
  border: .06rem solid #aaa;
  padding: 2rem 5rem;
  list-style: decimal;
  display: inline-block;
  line-height: 2;
  border-radius: 4px;
  background-color: $snow;
}

.headline {
  margin-bottom: 8px
}

.callout {
  margin: $line-height-computed 0;
  padding: $line-height-computed;
  border: .3rem solid #ddd;
  border-radius: .4rem;
}

.callout p {
  margin: 0;
}

.warning-callout {
  border-color: $banana;
  background-color: $banana;
}

.danger-callout {
  border-color: $cherry;
  color: $cherry;
}

.info-callout {
 border-color: $blue;
 color: $blue;
}

.highlight {
  margin: 0 0 $line-height-computed 0;
  border-radius: .5rem;
}

.highlight > pre {
  padding: 1.5rem;
  overflow: auto;
}

.highlight pre {
  margin: 0;
  white-space: pre-wrap;
}
