.post-date {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 1rem;
}

.post-content a {
  border-bottom: .2rem dotted;
  line-height: 1.6;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    border-bottom-style: solid;
  }
}

