// Styles

.max-width {
  max-width: 680px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.portfolio-tile {
  position: relative;
  margin-bottom: 15px;
}

.portfolio-tile:hover .portfolio-project-logo-cover,
.portfolio-tile:hover .portfolio-project-logo {
  opacity: 0;
  transition: opacity .15s ease-out;
}

.portfolio-project-logo-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  margin: auto;
  background-color: $graphite;
  transition: opacity .15s ease-in;
}

.portfolio-project-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 50%;
  height: auto;
  transition: opacity .15s ease-in;
}

nav {
  display: block;
  float: right;
  font-size: 18px;
}

.nav-logo {
  display: block;
  float: left;
  padding-top: 11px;
}

.nav-logo a {
  font-size: 18px;
}

.main-nav {
  padding: 0;
}

.main-nav li {
  display: inline;
  margin-left: $line-height-computed-half;
  margin-right: $line-height-computed-half;
}

.main-nav a {
  color: $blue;
}

.buffer {
	padding-top: $line-height-computed * 2;
	padding-bottom: $line-height-computed * 2;
}

.buffer-top {
  padding-top: $line-height-computed * 2;
}

.section-title {
	padding-bottom: $line-height-computed;
  margin-bottom: 0
}

.section-title:after {
	display: block;
	position: relative;
	bottom: -6px;
	left: 0;
	content: ' ';
	width: 100px;
	height: 3px;
  background: $blue;
}

.contact-buttons {
	margin-top: $line-height-computed * 2;
	margin-bottom: $line-height-computed * 2;
}

.center {
  text-align: center;
}

.callout {
  margin: $line-height-computed 0;
  padding: $line-height-computed;
  border-left: 3px solid #ddd;
}

.callout p {
  margin: 0;
}

.warning-callout {
  border-color: $banana;
  color: $banana;
}

.danger-callout {
  border-color: $cherry;
  color: $cherry;
}

.info-callout {
 border-color: $blue;
 color: $blue;
}

.headline {
  margin-bottom: 8px
}

.read-more-arrow {
  margin-left: 5px
}

.highlight {
  margin: 0 0 $line-height-computed 0; 
}

.highlight pre {
  padding: 2rem;
  border-radius: .5rem;
  overflow: auto;
}

@media (max-width: 577px ) {

	header {
    text-align: center;
  }

	nav {
    float: none;
  }

	.nav-logo {
    float: none;
  }

	.main-nav li {
		margin-left: 0;
		margin-right: 10px;
	}

	.buffer {
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;
  }

	.buffer-top {
    padding-top: $line-height-computed;
  }
}

@media (max-width: 992px) {

	.img-list {
		margin-top: $line-height-computed;
		ul { margin: 0; padding: 0;}
		li { padding-bottom: 15px; }
	}

	.client-screenshot-container {
    margin-bottom: 15px;
  }

}

