// Styles

.max-width {
  max-width: 76.8rem;
  margin-right: auto;
  margin-left: auto;
}

// NOTE: Remove print page title, date, etc.
@media print { 
  @page {
    size: auto;
    margin: 5mm;
  }
}
