/*
$cyan: #7fc1ca;
$blue: #83afe5;
$purple: #9a93e1;
$pink: #d18ec2;
$red: #df8c8c;
$orange: #f2c38f;
$yellow: #dada93;
$green:#a8ce93;
$gray0: #1e272c;
$gray1: #3c4c55;
$gray2: #556873;
$gray3: #6a7d89;
$gray4: #899ba6;
$gray5: #c5d4dd;
$gray6: #e6eef3;
*/

.highlight pre { background-color: #1e272c; }
.highlight .hll { background-color: #1e272c; }
.highlight .c { color: #556873 } /* Comment */
.highlight .err { color: #df8c8c;} /* Error */
.highlight .k { color: #7fc1c1 } /* Keyword */
.highlight .l { color: #9a93e1 } /* Literal */
.highlight .n { color: #dada93 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #dada93 } /* Punctuation */
.highlight .cm { color: #556873 } /* Comment.Multiline */
.highlight .cp { color: #556873 } /* Comment.Preproc */
.highlight .c1 { color: #556873 } /* Comment.Single */
.highlight .cs { color: #556873 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #7fc1c1 } /* Keyword.Constant */
.highlight .kd { color: #7fc1c1 } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #7fc1c1 } /* Keyword.Pseudo */
.highlight .kr { color: #7fc1c1 } /* Keyword.Reserved */
.highlight .kt { color: #7fc1c1 } /* Keyword.Type */
.highlight .ld { color: #dada93 } /* Literal.Date */
.highlight .m { color: #9a93e1 } /* Literal.Number */
.highlight .s { color: #dada93 } /* Literal.String */
.highlight .na { color: #a8ce93 } /* Name.Attribute */
.highlight .nb { color: #dada93 } /* Name.Builtin */
.highlight .nc { color: #a8ce93 } /* Name.Class */
.highlight .no { color: #7fc1c1 } /* Name.Constant */
.highlight .nd { color: #a8ce93 } /* Name.Decorator */
.highlight .ni { color: #dada93 } /* Name.Entity */
.highlight .ne { color: #a8ce93 } /* Name.Exception */
.highlight .nf { color: #a8ce93 } /* Name.Function */
.highlight .nl { color: #dada93 } /* Name.Label */
.highlight .nn { color: #dada93 } /* Name.Namespace */
.highlight .nx { color: #a8ce93 } /* Name.Other */
.highlight .py { color: #dada93 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #dada93 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #dada93 } /* Text.Whitespace */
.highlight .mf { color: #9a93e1 } /* Literal.Number.Float */
.highlight .mh { color: #9a93e1 } /* Literal.Number.Hex */
.highlight .mi { color: #9a93e1 } /* Literal.Number.Integer */
.highlight .mo { color: #9a93e1 } /* Literal.Number.Oct */
.highlight .sb { color: #dada93 } /* Literal.String.Backtick */
.highlight .sc { color: #dada93 } /* Literal.String.Char */
.highlight .sd { color: #dada93 } /* Literal.String.Doc */
.highlight .s2 { color: #dada93 } /* Literal.String.Double */
.highlight .se { color: #9a93e1 } /* Literal.String.Escape */
.highlight .sh { color: #dada93 } /* Literal.String.Heredoc */
.highlight .si { color: #dada93 } /* Literal.String.Interpol */
.highlight .sx { color: #dada93 } /* Literal.String.Other */
.highlight .sr { color: #dada93 } /* Literal.String.Regex */
.highlight .s1 { color: #dada93 } /* Literal.String.Single */
.highlight .ss { color: #dada93 } /* Literal.String.Symbol */
.highlight .bp { color: #dada93 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #dada93 } /* Name.Variable.Class */
.highlight .vg { color: #dada93 } /* Name.Variable.Global */
.highlight .vi { color: #dada93 } /* Name.Variable.Instance */
.highlight .il { color: #9a93e1 } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #556873; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a8ce93; } /* Generic.Inserted & Diff Inserted */
