// Typography

body {
  background: var(--bg-color);
  font-size: var(--base-font-size);
  font-family: var(--sans-serif-font-family);
  line-height: var(--base-line-height);
  color: var(--primary-text-color);
}

::selection,
::-moz-selection {
  background: var(--ink);
  color: var(--white);
}

h1, h2, h3 {
  line-height: var(--headings-line-height);
  font-weight: var(--headings-font-weight);
}

h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }

p.lead {
  font-size: calc(1.5238095 * var(--base-font-size));
  color: var(--gray-light);
}

em { font-style: italic; }
strong { font-weight: bold;}
small, .small { font-size: 80%; }

code, pre { font-size: 16px; }

:not(pre) > code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #f6f8fa;
  border-radius: .6rem;
}

.highlight {
  background: #f6f8fa;
}


