// Utilities
.center {
  text-align: center;
}

.block {
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.list-naked {
  padding-left: 0;
  list-style-type: none;
}
