// Colors

//Pallette
$white: #fff;
$hotPink: #e84a5f;
$outerSpace: #262626;
$peach: #fecea8;
$seaFoam: #99b898;
$tangerine: #ff847c;

$cyan: #7fc1ca;
$blue: #83afe5;
$purple: #9a93e1;
$pink: #d18ec2;
$red: #df8c8c;
$orange: #f2c38f;
$yellow: #dada93;
$green:#a8ce93;
$gray0: #1e272c;
$gray1: #3c4c55;
$gray2: #556873;
$gray3: #6a7d89;
$gray4: #899ba6;
$gray5: #c5d4dd;
$gray6: #e6eef3;

$bg-color: $gray1;
$content-color: $blue;
$headingTitle-color: $red;
$heading-color: $yellow;
$emphasis-color: $green;
$strong-color: $purple;
$link-color: $orange;

// Typography
$mono-fontFamily: "Fira Mono", monospace;
$sans-serif-fontFamily: 'Nunito Sans', Helvetica, sans-serif;
$serif-fontFamily: 'Lora', Georgia, serif;

$base-font-size: 20px;
$base-line-height: 1.5;
$line-height-computed: $base-font-size * $base-line-height;
$line-height-computed-half: ceil($line-height-computed / 2);

$h1-font-size: ceil(2.25 * $base-font-size);
$h2-font-size: ceil(1.9 * $base-font-size);
$h3-font-size: ceil(1.5 * $base-font-size);
$h4-font-size: ceil(1.25 * $base-font-size);
$h5-font-size: $base-font-size;
$h6-font-size: ceil(.875 * $base-font-size);
$headings-line-height: 1.2;
$headings-font-weight: 700;

// Transitions
$ease-in-out: all .25s ease-in-out;
$ease: all .5s ease;

// Animations
$animation-duration: 1s;
$animation-delay: 2s;
