// Colors

//Pallette
$white: #fff;
$blue: #3A5CC5;
$banana: #ffc30d;
$gun: #424651;
$cherry: #ED1941;
$egg-shell: #fefbf1;
$sky-blue: #76a7d8;

$black: #000;
$graphite: #333;
$gray-dark: #444;
$ink: #222;
$gray: #777;
$gray-light: #DDD;

// hhkb photo from profile
$free-blue: #455AC8; // blue esc key
$link-water: #C5C9D9; // shift key
$topaz: #7F7E81; // hhkb logo
$fire-brick: #AA1F11; // ctrl key

$bg-color: $egg-shell;
$primary-text-color: $ink;
$secondary-text-color: $topaz;
$link-color: $sky-blue;
$card-bg-color: $white;

$btn-color: $sky-blue;
$primary-btn-color: $sky-blue;
$secondary-btn-color: $fire-brick;

// Typography
$mono-font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono",
"Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code
Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
$sans-serif-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, Times, serif;

$base-font-size: 1.8rem;
$base-line-height: 1.5;
$line-height-computed: $base-font-size * $base-line-height;
$line-height-computed-half: $line-height-computed / 2;

$h1-font-size: 2.25 * $base-font-size;
$h2-font-size: 1.9 * $base-font-size;
$h3-font-size: 1.5 * $base-font-size;
$h4-font-size: 1.25 * $base-font-size;
$h5-font-size: $base-font-size;
$h6-font-size: .875 * $base-font-size;
$headings-line-height: 1.2;
$headings-font-weight: 700;
