---
layout: page
title: Blog
description: A front-end developer blog devoted to application development, user experience, design. See code examples, learn from tutorials, get tips and tricks
---

{% for post in site.posts limit:5 %}
  <article class='blog-post'>
    <h3 class='headline'>{{ post.title }}</h3>

    <div class="meta-post">
      <span class="meta-content">{{ post.date | date: "%B %d, %Y" }}</span>
    </div>

    <div class="blog-post-content">
      {{ post.content | split:'<!--break-->' | first }}

      {% if post.content contains '<!--break-->' %}
        <a href="{{ post.url }}">Read more &#8594;</a>
      {% endif %}
    </div>

  </article>
  <hr>
{% endfor %}
