---
layout: page
title: Blog
description: A front-end developer blog devoted to application development, user experience, design. See code examples, learn from tutorials, get tips and tricks
---

<div class="container">
  <h1>{{ page.title }}</h1>
  {% assign postsByYear =
      site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
    <ul>
      {% for post in year.items %}
        <li>
          <span>{{ post.date | date: "%B %d, %Y" }}</span>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
