---
// Site header with navigation
---

<header class="header container max-width">
  <div class="header-inner">
    <div class="nav-logo">
      <a href="/">
        <span class="name">
          <span>A</span>
          <span>n</span>
          <span>t</span>
          <span>h</span>
          <span>o</span>
          <span>n</span>
          <span>y</span>
        </span>
        <span class="name">
          <span>G</span>
          <span>o</span>
          <span>n</span>
          <span>z</span>
          <span>a</span>
          <span>l</span>
          <span>e</span>
          <span>s</span>
        </span>
      </a>
    </div>
    <nav role="navigation">
      <ul class="main-nav">
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>