{% assign page_class = page.name | remove: ".html" | remove: ".md" %}
{% unless page_class != "" %}{% assign page_class = page.slug %}{% endunless %}
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/WebPage" class={{page_class}}>
  <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

  {% include header.html %}

  {{ content }}

  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-49637905-2', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
