---
layout: default
---
<div class="container post">
  <hgroup class="post-heading">
    <h1 class="post-title">{{ page.title }}</h1>
    <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
    {% if page.tags.size > 0 %}
      <h5 class="post-tags">Thoughts on {{page.tags | array_to_sentence_string}}</h5>
    {% endif %}
  </hgroup>

  {{ page.excerpt }}

  {{ page.content | remove: page.excerpt }}

  <hr>
  <h4>Questions? Disagree?</h4>
  <p>Reach out via webmention or send me a tweet.</p>
</div>
