---
layout: default
---
<div class="max-width post card infinite" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-meta">
    <span class="hidden" itemprop="author">by Anthony Gonzales</span>
    <time class="post-timestamp" itemprop="datePublished"> {{ page.date | date: "%B %d, %Y" }}</time></span>
    &bull;
    {% include read_time.html content=page.content %}
  </div>

  <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>

  <div class="post-content" itemprop="articleBody">
    {% include anchor_headings.html html=content
    anchorClass="post-header-link" %}
  </div>
  <div class="post-additional">
    <a href="https://mobile.twitter.com/search?q={{ site.url | url_encode }}{{ page.url | url_encode }}" target="_blank" class="btn secondary-btn">Discuss on Twitter</a>
  </div>
  <hr/>
  <div class="post-footer">
    {% include quick_about.html %}
  </div>
</div>
