---
layout: default
---
<div class="max-width post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-meta">
    <span class="hidden" itemprop="author">by Anthony Gonzales</span>
    <time class="post-timestamp" itemprop="datePublished"> {{ page.date | date: "%B %d, %Y" }}</time>
    &bull;
    {% include read_time.html content=page.content %}

    {%- if page.last_modified_at -%}
      <div class="post-lastupdated">
        Updated on 
        <time itemprop="dateModified">{{ page.last_modified_at | date: "%B %d, %Y" }}</time>
      </div>
    {%- endif -%}
  </div>

  <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>

  <div class="post-content" itemprop="articleBody">
    {% include anchor_headings.html html=content
    anchorClass="post-header-link" %}
  </div>
  <div class="post-additional">
    <a href="https://github.com/antgonzales/antgonzales.github.io/edit/master/{{page.path}}" target="_blank" >Suggest a correction</a>
  </div>
  <hr/>
  <div class="post-footer">
    {% include quick_about.html %}
  </div>
</div>
