// Typography

body {
  background: var(--bg-color);
  font-size: var(--base-font-size);
  font-family: var(--sans-serif-font-family);
  line-height: var(--base-line-height);
  color: var(--primary-text-color);
}

::selection,
::-moz-selection {
  background: var(--ink);
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--headings-line-height);
  font-weight: var(--headings-font-weight);
}

h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }
h4 { font-size: var(--h4-font-size); }
h5 { font-size: var(--h5-font-size); }
h6 { font-size: var(--h6-font-size); }
.subheader { color: var(--gray-light); }

p.lead {
  font-size: calc(1.5238095 * var(--base-font-size));
  color: var(--gray-light);
}

em, .italic { font-style: italic; }
strong, .bold { font-weight: bold;}
small, .small { font-size: 80%; }

blockquote, blockquote p {
  font-size: calc(1.3125 * var(--base-font-size));
  line-height: var(--base-line-height);
  color: var(--gray-light);
  font-family: var(--mono-font-family);
  font-style: italic;
}

blockquote {
  padding: var(--line-height-computed-half) var(--line-height-computed) 0 var(--line-height-computed);
  border-left: 1px solid var(--gray-light);
}

blockquote cite {
  display: block;
  font-size: 80%;
  color: var(--gray-light);
}

blockquote cite:before { content: "\2014 \0020"; }

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited { 
    color: var(--gray-light); 
}

code, kbd, pre, samp { font-size: 16px; }

:not(pre) > code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #f6f8fa;
  border-radius: .6rem;
}

.highlight {
  background: #f6f8fa;
}

.italic {
  font-style: italic;
}